{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'commentaires/style.css' %}">

</head>
<body>
<div class="card">
    <h1>Espace commentaires</h1>
    <a class="a" href="/app/ajout-commentaires">Ajouter un commentaire sur un film</a>
    <ol>
        {% for c in liste %}
            <li> {{c}} <a class="b" href="/app/affiche-commentaires/{{c.id}}/">📃 détails</a> /
                <a class="b" href="/app/update-commentaires/{{c.id}}/">✏️ Modifier </a> /
                <a class="b" href="/app/delete-commentaires/{{c.id}}/">❌ Supprimer </a>
            </li>
        {% endfor %}
    </ol>
    </br>
    <h3><a class="a" href="/app/index-categories/">Retour aux catégories</a></h3>
</div>
</body>
</html>